openapi: 3.0.0
info:
  title: Generic Household
  version: 3.1.6
  contact:
    name: API Source
    email: support@hslynk.com
    url: https://github.com/hmis-api/generic-household-api
  # Name of the license and a URL to the license description.
  license:
    name: Open Source License
    url: https://github.com/hmis-api/generic-household-api/blob/master/LICENSE
  description: |
       **Note :**
              Please note that the partial updates are supported via PUT APIs. However, Note that If "null" value is passed for any element, in the PUT request body, it will be ignored. An empty string value should be sent (instead of "null" value) for the elements that need to be updated with NULL values.
servers:
  - url: 'https://api.hslynk.com/generic-household-api/rest'
paths:
  /generichouseholds:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  links:
                  - rel: first
                    href: https://www.hslynk.com/global-household-api/generichouseholds?page=0&size=10
                  - rel: self
                    href: https://www.hslynk.com/global-household-api/generichouseholds?size=10
                  - rel: next
                    href: https://www.hslynk.com/global-household-api/generichouseholds?page=1&size=10
                  - rel: last
                    href: https://www.hslynk.com/global-household-api/generichouseholds?page=1&size=10
                  content:
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-25 11:33
                    dateUpdated: 2016-11-25 11:33
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 6d4cd1b8-e1e4-4701-8966-b4c45fdfc0f1
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 58c7292b-1e86-4c55-ba73-3118f47b1807
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: bbbeed84-7053-4c0b-b47e-459290bad079
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: eb1c1ef1-4004-45a6-897c-e9e19bfd29da
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/bbbeed84-7053-4c0b-b47e-459290bad079"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 91302209-bd35-47d4-b590-e8768f4b7a37
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: bbbeed84-7053-4c0b-b47e-459290bad079
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 177cd4d5-a265-4da0-978a-1d8dd986aa66
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/bbbeed84-7053-4c0b-b47e-459290bad079"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 424ea5ea-76e9-4756-b517-29b19120b678
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: bbbeed84-7053-4c0b-b47e-459290bad079
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: f46b7185-00fc-4c60-ae6f-b88d62a616d0
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/bbbeed84-7053-4c0b-b47e-459290bad079"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 04c5cc48-f779-4c66-a6f3-9357e19d1910
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-24 17:05
                    dateUpdated: 2016-11-24 17:05
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: a509ae08-7347-4783-91ae-9a53758b71c1
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-24 17:06
                    dateUpdated: 2016-11-24 17:06
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: cfdf2580-9502-4ae1-b849-0a80a089b726
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-24 17:06
                    dateUpdated: 2016-11-24 17:06
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 26869883-e2c4-44f3-966a-4d58bf446958
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  page:
                    size: 8
                    totalElements: 235
                    totalPages: 2
                    number: 0

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errorMessage: internal server error
      description: gets a set of generic households
      operationId: GET_generic-households
      parameters:
        - name: inactive
          in: query
          description: Filter the list of generic household by inactive status.
          schema:
            type: boolean
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                      type: array
                      items:
                        type: object
                        properties:
                          headOfHouseholdId:
                            type: string
                            format: uuid
                          dateCreated:
                            type: string
                          dateUpdated:
                            type: string
                          userId:
                            type: string
                          dedupClientId:
                            type: string
                            format: uuid
                          genericHouseholdId:
                            type: string
                            format: uuid
              example:
                  - headOfHouseholdId: 78f5bcf4-ddf6-4d54-a981-ce2dbbbe0827
                    dateCreated: 2020-04-28 13:56
                    dateUpdated: 2020-04-28 13:56
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    dedupClientId: 167f24a0-8958-11ea-b546-02fe61f7863e
                    genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: saves the multiple generic household data.
      operationId: POST_generic-households
      requestBody:
        content:
          application/json:
            example:
                    genericHouseholds:
                        - headOfHouseholdId: "4eb6e34a-4c33-4678-8c28-786222c6176d"

            schema:
                {
                    "type": "object",
                    "properties": {
                        "genericHouseholds": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "headOfHouseholdId": {
                                        "type": "string",
                                         "format": "uuid",
                                    }
                                }
                            }
                        }
                    }
                }
        required: true
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  - genericlHouseHoldId: asdf-asdf-assdfasfd-df
                    headOfHouseholdId: asdf-asdf-assdfasfd-dd
                    dateCreated: 2016-06-06
                    dateUpdated: 2016-06-06
                    userCreate: asdf-adf-asdsf
                    userUpdate: asdf-adfasf-asdfasds
                  - genericlHouseHoldId: asdf-asdf-assdfasfd-da
                    headOfHouseholdId: asdf-asdf-assdfasfd-dd-sadf
                    dateCreated: 2016-06-06
                    dateUpdated: 2016-06-06
                    userCreate: asdf-adf-asdsf
                    userUpdate: asdf-adfasf-asdfasds
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: update the multiple generic household data.
      operationId: PUT_generic-households
      requestBody:
        content:
          application/json:
            example:
              - genericlHouseHoldId: asdf-asdf-assdfasfd-df
                headOfHouseholdId: asdf-asdf-assdfasfd-dd
              - genericlHouseHoldId: asdf-asdf-assdfasfd-da
                headOfHouseholdId: asdf-asdf-assdfasfd-dd-sadf
            schema:
              $ref: '#/components/schemas/generic_households_ids'
        required: true
  '/generichouseholds/{generichouseholdid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  genericlHouseHoldId: null
                  headOfHouseholdId: asdf-asdf-assdfasfd-dd
                  dateCreated: 2016-06-06
                  dateUpdated: 2016-06-06
                  userCreate: asdf-adf-asdsf
                  userUpdate: asdf-adfasf-asdfasds
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errorMessage: internal server error
      description: retreives generic household  details.
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: household successfully deleted
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Internal Server Error - retry request'
      description: to delete generic household on the basis of uuid
      operationId: DELETE_generic-households-generic_household_id
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: household successfully updated
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Internal Server Error - retry request'
      description: for updating generic housing data.
      operationId: PUT_generic-households-generic_household_id
      requestBody:
        content:
          application/json:
            example:
              genericlHouseHoldId: bsdf-asdf-assdfasfd-dd
              headOfHouseholdId: asdf-asdf-assdfasfd-dd
              dateCreated: 2016-06-06
              dateUpdated: 2016-06-06
              userCreate: asdf-adf-asdsf
              userUpdate: asdf-adfasf-asdfasds
            schema:
              $ref: '#/components/schemas/generic_household_id'
        required: true
    parameters:
      - name: generichouseholdid
        in: path
        required: true
        schema:
          type: string
  '/generichouseholds/{generichouseholdid}/members':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  links:
                  - rel: self
                    href: https://www.hslynk.com/global-household-api/generic-households/7667b25f-102b-4aa6-8ce4-e714be2f98b5/members
                  content:
                  - householdMembershipId: 61acf5ba-8428-435e-9e89-bd2d68bc508a
                    dateCreated: 2018-12-05 04:06
                    dateUpdated: 2018-12-05 04:06
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                    genericHouseholdId: 7667b25f-102b-4aa6-8ce4-e714be2f98b5
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                      href: client
                  - householdMembershipId: ca4c5505-5be0-4fca-821d-e7f74e131347
                    dateCreated: 2018-12-05 04:06
                    dateUpdated: 2018-12-05 04:06
                    relationshipToHeadOfHousehold: Testing
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericClientId: 91746d23-3b98-4d43-9724-f1c0f2948784
                    genericHouseholdId: 7667b25f-102b-4aa6-8ce4-e714be2f98b5
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/91746d23-3b98-4d43-9724-f1c0f2948784"
                      href: client
                  page:
                    size: 20
                    totalElements: 2
                    totalPages: 1
                    number: 0

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
    post:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      anyOf:
                      - type: object
                        properties:
                          householdMembershipId:
                            type: string
                            format: uuid
                          dateCreated:
                            type: string
                          dateUpdated:
                            type: string
                          userId:
                            type: string
                            format: uuid
                          genericClientId:
                            type: string
                            format: uuid
                          genericHouseholdId:
                            type: string
                            format: uuid
              example:
                      members:
                        - householdMembershipId: 2ab007d4-ac7e-4a75-beb2-a6b7160083b1
                          dateCreated: 2020-04-28 13:56
                          dateUpdated: 2020-04-28 13:56
                          userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                          genericClientId: 19f02770-07cd-4a22-89ff-4debfa3172d2
                          genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf
                        - householdMembershipId: 2aa3e35e-843e-4162-b32d-8e344c57647e
                          dateCreated: 2020-04-28 13:56
                          dateUpdated: 2020-04-28 13:56
                          userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                          genericClientId: 6e8dac43-2692-40ab-9a6e-325bf459e074
                          genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      operationId: POST_generic-households-generic_household_id-members
      requestBody:
        content:
          application/json:
            schema:
                  type: object
                  properties:
                    members:
                      type: array
                      items:
                        anyOf:
                        - type: object
                          properties:
                            genericClientId:
                              type: string
                              format: uuid
                            genericHouseholdId:
                              type: string
                              format: uuid
                            relationshipToHeadOfHousehold:
                              type: string
                              format: uuid
            example:
                members:
                - genericClientId: 19f02770-07cd-4a22-89ff-4debfa3172d2
                  genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf
                  relationshipToHeadOfHousehold: father
                - relationshipToHeadOfHousehold: son
                  genericClientId: 6e8dac43-2692-40ab-9a6e-325bf459e074
                  genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf
        required: true
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example: |
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      operationId: PUT_generic-households-generic_household_id-members
      requestBody:
        content:
          application/json:
            schema:
                    type: object
                    properties:
                      members:
                        type: array
                        items:
                          anyOf:
                          - type: object
                            properties:
                              householdMembershipId:
                                type: string
                                format: uuid
                              dateCreated:
                                type: string
                              dateUpdated:
                                type: string
                              userId:
                                type: string
                                format: uuid
                              genericClientId:
                                type: string
                                format: uuid
                              genericHouseholdId:
                                type: string
                                format: uuid
            example:
                      members:
                        - householdMembershipId: 2ab007d4-ac7e-4a75-beb2-a6b7160083b1
                          genericClientId: 19f02770-07cd-4a22-89ff-4debfa3172d2
                          genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf
                        - householdMembershipId: 2aa3e35e-843e-4162-b32d-8e344c57647e
                          genericClientId: 6e8dac43-2692-40ab-9a6e-325bf459e074
                          genericHouseholdId: 9e7b1ae5-1115-4859-b781-edd3291371cf
        required: true
    parameters:
      - name: generichouseholdid
        in: path
        required: true
        schema:
          type: string
  '/generichouseholds/{generichouseholdid}/members/{memberid}':
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  genericClientId: asdf-sad2-daf23
                  relationshipToHeadOfHousehold: 1
                  dateCreate: 2016-06-06
                  dateUpdate: 2016-06-06
                  userCreate: asd-adf-dsf7
                  userUpdate: asdf-as6-asdf-aas
                  genericlHouseHoldId: sadf-adf-adf
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: get the member record based on member_id.
    put:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: member successfully updated.
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: update the member record.
      operationId: PUT_generic-households-generic_household_id-members-member_id
      requestBody:
        content:
          application/json:
            example:
              genericClientId: asdf-sad2-daf23
              relationshipToHeadOfHousehold: 1
              dateCreate: 2016-06-06
              dateUpdate: 2016-06-06
              userCreate: asd-adf-dsf7
              userUpdate: asdf-as6-asdf-aas
              genericlHouseHoldId: sadf-adf-adf
            schema:
              $ref: '#/components/schemas/household_members_id'
        required: true
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: member deleted successfully.
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: delete the household member.
      operationId: DELETE_generic-households-generic_household_id-members-member_id
    parameters:
      - name: memberid
        in: path
        required: true
        schema:
          type: string
      - name: generichouseholdid
        in: path
        required: true
        schema:
          type: string
  /generic-households:
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  links:
                  - rel: first
                    href: https://www.hslynk.com/global-household-api/generic-households?page=0&size=10
                  - rel: self
                    href: https://www.hslynk.com/global-household-api/generic-households?size=10
                  - rel: next
                    href: https://www.hslynk.com/global-household-api/generic-households?page=1&size=10
                  - rel: last
                    href: https://www.hslynk.com/global-household-api/generic-households?page=1&size=10
                  content:
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-25 11:33
                    dateUpdated: 2016-11-25 11:33
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 6d4cd1b8-e1e4-4701-8966-b4c45fdfc0f1
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 58c7292b-1e86-4c55-ba73-3118f47b1807
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: bbbeed84-7053-4c0b-b47e-459290bad079
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: eb1c1ef1-4004-45a6-897c-e9e19bfd29da
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/bbbeed84-7053-4c0b-b47e-459290bad079"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 91302209-bd35-47d4-b590-e8768f4b7a37
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: bbbeed84-7053-4c0b-b47e-459290bad079
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 177cd4d5-a265-4da0-978a-1d8dd986aa66
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/bbbeed84-7053-4c0b-b47e-459290bad079"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 424ea5ea-76e9-4756-b517-29b19120b678
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: bbbeed84-7053-4c0b-b47e-459290bad079
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: f46b7185-00fc-4c60-ae6f-b88d62a616d0
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/bbbeed84-7053-4c0b-b47e-459290bad079"
                      href: client
                  - headOfHouseholdId: acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0
                    dateCreated: 2016-11-02 04:43
                    dateUpdated: 2016-11-02 04:43
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 04c5cc48-f779-4c66-a6f3-9357e19d1910
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/acd0a00d-faa5-4cd5-9f8c-4ffa431af8e0"
                      href: client
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-24 17:05
                    dateUpdated: 2016-11-24 17:05
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: a509ae08-7347-4783-91ae-9a53758b71c1
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-24 17:06
                    dateUpdated: 2016-11-24 17:06
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: cfdf2580-9502-4ae1-b849-0a80a089b726
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  - headOfHouseholdId: af6a72e5-b671-4fce-ac87-58590390af78
                    dateCreated: 2016-11-24 17:06
                    dateUpdated: 2016-11-24 17:06
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericHouseholdId: 26869883-e2c4-44f3-966a-4d58bf446958
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/af6a72e5-b671-4fce-ac87-58590390af78"
                      href: client
                  page:
                    size: 8
                    totalElements: 235
                    totalPages: 2
                    number: 0

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errorMessage: internal server error
      description: gets a set of generic households
      operationId: GET_genericHouseholds
      parameters:
        - name: inactive
          in: query
          description: Filter the list of generic household by inactive status.
          schema:
            type: boolean
    post:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  - genericlHouseHoldId: asdf-asdf-assdfasfd-df
                    headOfHouseholdId: asdf-asdf-assdfasfd-dd
                    dateCreated: 2016-06-06
                    dateUpdated: 2016-06-06
                    userCreate: asdf-adf-asdsf
                    userUpdate: asdf-adfasf-asdfasds
                  - genericlHouseHoldId: asdf-asdf-assdfasfd-da
                    headOfHouseholdId: asdf-asdf-assdfasfd-dd-sadf
                    dateCreated: 2016-06-06
                    dateUpdated: 2016-06-06
                    userCreate: asdf-adf-asdsf
                    userUpdate: asdf-adfasf-asdfasds
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: saves the multiple generic household data.
      operationId: POST_dep_generic-households
      requestBody:
        content:
          application/json:
            example:
              - headOfHouseholdId: asdf-asdf-assdfasfd-dd
              - headOfHouseholdId: asdf-asdf-assdfasfd-dd-sadf
            schema:
              $ref: '#/components/schemas/generic_households'
        required: true
    put:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  - genericlHouseHoldId: asdf-asdf-assdfasfd-df
                    headOfHouseholdId: asdf-asdf-assdfasfd-dd
                    dateCreated: 2016-06-06
                    dateUpdated: 2016-06-06
                    userCreate: asdf-adf-asdsf
                    userUpdate: asdf-adfasf-asdfasds
                  - genericlHouseHoldId: asdf-asdf-assdfasfd-da
                    headOfHouseholdId: asdf-asdf-assdfasfd-dd-sadf
                    dateCreated: 2016-06-06
                    dateUpdated: 2016-06-06
                    userCreate: asdf-adf-asdsf
                    userUpdate: asdf-adfasf-asdfasds
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: update the multiple generic household data.
      operationId: PUT_dep_generic-households
      requestBody:
        content:
          application/json:
            example:
              - genericlHouseHoldId: asdf-asdf-assdfasfd-df
                headOfHouseholdId: asdf-asdf-assdfasfd-dd
              - genericlHouseHoldId: asdf-asdf-assdfasfd-da
                headOfHouseholdId: asdf-asdf-assdfasfd-dd-sadf
            schema:
              $ref: '#/components/schemas/generic_households_ids'
        required: true
  '/generic-households/{generichouseholdid}':
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  genericlHouseHoldId: null
                  headOfHouseholdId: asdf-asdf-assdfasfd-dd
                  dateCreated: 2016-06-06
                  dateUpdated: 2016-06-06
                  userCreate: asdf-adf-asdsf
                  userUpdate: asdf-adfasf-asdfasds
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  errorMessage: internal server error
      description: retreives generic household  details.
    delete:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: household successfully deleted
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Internal Server Error - retry request'
      description: to delete generic household on the basis of uuid
      operationId: DELETE_genericHouseholds-generic_household_id
    put:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: household successfully updated
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Internal Server Error - retry request'
      description: for updating generic housing data.
      operationId: PUT_dep_generic-households-generic_household_id
      requestBody:
        content:
          application/json:
            example:
              genericlHouseHoldId: bsdf-asdf-assdfasfd-dd
              headOfHouseholdId: asdf-asdf-assdfasfd-dd
              dateCreated: 2016-06-06
              dateUpdated: 2016-06-06
              userCreate: asdf-adf-asdsf
              userUpdate: asdf-adfasf-asdfasds
            schema:
              $ref: '#/components/schemas/generic_household_id'
        required: true
    parameters:
      - name: generichouseholdid
        in: path
        required: true
        schema:
          type: string
  '/generic-households/{generichouseholdid}/members':
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  links:
                  - rel: self
                    href: https://www.hslynk.com/global-household-api/generic-households/7667b25f-102b-4aa6-8ce4-e714be2f98b5/members
                  content:
                  - householdMembershipId: 61acf5ba-8428-435e-9e89-bd2d68bc508a
                    dateCreated: 2018-12-05 04:06
                    dateUpdated: 2018-12-05 04:06
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                    genericHouseholdId: 7667b25f-102b-4aa6-8ce4-e714be2f98b5
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                      href: client
                  - householdMembershipId: ca4c5505-5be0-4fca-821d-e7f74e131347
                    dateCreated: 2018-12-05 04:06
                    dateUpdated: 2018-12-05 04:06
                    relationshipToHeadOfHousehold: Testing
                    userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                    genericClientId: 91746d23-3b98-4d43-9724-f1c0f2948784
                    genericHouseholdId: 7667b25f-102b-4aa6-8ce4-e714be2f98b5
                    links:
                    - rel: "/hmis-clientapi/rest/v2015/clients/91746d23-3b98-4d43-9724-f1c0f2948784"
                      href: client
                  page:
                    size: 20
                    totalElements: 2
                    totalPages: 1
                    number: 0

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
    post:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: 'address is updated '
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      operationId: POST_dep_generic-households-generic_household_id-members
      requestBody:
        content:
          application/json:
            example:
              $schema: 'https://json-schema.org/draft-04/schema#'
              id: 'https://jsonschema.net'
              type: array
              items:
                - id: householdMemberID
                  type: object
                  properties:
                    houseHoldMembershipId:
                      id: 'https://jsonschema.net/houseHoldMembershipId'
                      type: string
                    genericClientId:
                      id: 'https://jsonschema.net/globalClientId'
                      type: string
                    relationshipToHeadOfHouseHold:
                      id: 'https://jsonschema.net/relationshipToHeadOfHousehold'
                      type: integer
                    dateCreate:
                      id: 'https://jsonschema.net/dateCreate'
                      type: string
                    dateUpdate:
                      id: 'https://jsonschema.net/dateUpdate'
                      type: string
                    userCreate:
                      id: 'https://jsonschema.net/userCreate'
                      type: string
                    userUpdate:
                      id: 'https://jsonschema.net/userUpdate'
                      type: string
                  required:
                    - houseHoldMembershipId
                    - genericClientId
                    - relationshipToHeadOfHousehold
                    - dateCreate
                    - dateUpdate
                    - userCreate
                    - userUpdate
              required:
                - householdMemberID
            schema:
              type: string
        required: true
    put:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: 'members updated '
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      operationId: PUT`_dep_generic-households-generic_household_id-members
      requestBody:
        content:
          application/json:
            example:
              - houseHoldMembershipId: 1sdf-sad2-daf23
                genericClientId: asdf-sad2-daf23
                relationshipToHeadOfHousehold: 1
                dateCreate: 2016-06-06
                dateUpdate: 2016-06-06
                userCreate: asd-adf-dsf7
                userUpdate: asdf-as6-asdf-aas
                genericlHouseHoldId: sadf-adf-adf
              - houseHoldMembershipId: 2sdf-sad2-daf23
                genericClientId: asdf-sad2-daf23
                relationshipToHeadOfHousehold: 2
                dateCreate: 2016-06-06
                dateUpdate: 2016-06-06
                userCreate: asd-adf-dsf7
                userUpdate: asdf-as6-asdf-aas
                genericlHouseHoldId: sadf-adf-adf
            schema:
              $ref: '#/components/schemas/household_members_ids'
        required: true
    parameters:
      - name: generichouseholdid
        in: path
        required: true
        schema:
          type: string
  '/generic-households/{generichouseholdid}/members/{memberid}':
    get:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  genericClientId: asdf-sad2-daf23
                  relationshipToHeadOfHousehold: 1
                  dateCreate: 2016-06-06
                  dateUpdate: 2016-06-06
                  userCreate: asd-adf-dsf7
                  userUpdate: asdf-as6-asdf-aas
                  genericlHouseHoldId: sadf-adf-adf
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: get the member record based on member_id.
    put:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: member successfully updated.
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: update the member record.
      operationId: PUT_dep_generic-households-generic_household_id-members-member_id
      requestBody:
        content:
          application/json:
            example:
              genericClientId: asdf-sad2-daf23
              relationshipToHeadOfHousehold: 1
              dateCreate: 2016-06-06
              dateUpdate: 2016-06-06
              userCreate: asd-adf-dsf7
              userUpdate: asdf-as6-asdf-aas
              genericlHouseHoldId: sadf-adf-adf
            schema:
              $ref: '#/components/schemas/household_members_id'
        required: true
    delete:
      deprecated: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: member deleted successfully.
        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: delete the household member.
      operationId: DELETE_genericHouseholds-generic_household_id-members-member_id
    parameters:
      - name: memberid
        in: path
        required: true
        schema:
          type: string
      - name: generichouseholdid
        in: path
        required: true
        schema:
          type: string
  /members:
    get:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                example:
                    links:
                    - rel: first
                      href: https://www.hslynk.com/global-household-api/members?clientid=08bd3d50-cb87-41ac-8b64-b3dc3853c411&page=0&size=20
                    - rel: self
                      href: https://www.hslynk.com/global-household-api/members?clientid=08bd3d50-cb87-41ac-8b64-b3dc3853c411
                    - rel: next
                      href: https://www.hslynk.com/global-household-api/members?clientid=08bd3d50-cb87-41ac-8b64-b3dc3853c411&page=1&size=20
                    - rel: last
                      href: https://www.hslynk.com/global-household-api/members?clientid=08bd3d50-cb87-41ac-8b64-b3dc3853c411&page=1&size=20
                    content:
                    - householdMembershipId: 1a1e9e7e-e5bb-44f7-9dcd-6dd55cde34e2
                      dateCreated: 2017-11-14 01:29
                      dateUpdated: 2017-11-14 01:29
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 38466900-1c5c-449f-9a1f-42c1d56e7de1
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 8d5237a4-0166-4c22-81bf-b1cb9e61a0e1
                      dateCreated: 2017-11-14 01:29
                      dateUpdated: 2017-11-14 01:29
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: afedd627-a25d-45f4-b61e-9bc27a205629
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 1290711f-0d70-4731-a94c-5de8f9b1646d
                      dateCreated: 2017-11-14 01:35
                      dateUpdated: 2017-11-14 01:35
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: fa8e430b-5968-4e07-b4b0-7e89c931e6f8
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 5a1b99cb-6915-4952-9278-08999228133d
                      dateCreated: 2017-11-14 01:36
                      dateUpdated: 2017-11-14 01:36
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 0b2da75f-9b3b-407c-90ef-480b9934a85f
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: f55c9574-f46c-4730-96c5-2cbdf890c4ca
                      dateCreated: 2017-11-14 01:43
                      dateUpdated: 2017-11-14 01:43
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: d58ee2f2-effa-43e3-8534-85e11827e9d0
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 839c4743-8348-4ae7-abad-37306d69c679
                      dateCreated: 2017-11-13 21:19
                      dateUpdated: 2017-11-13 21:19
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 7d968a14-fda9-4bb7-ab89-f6d53ebedc7c
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: daf9d234-664c-4486-b5f9-9f5089961152
                      dateCreated: 2017-11-13 21:19
                      dateUpdated: 2017-11-13 21:19
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: e4e8f3c3-92b4-4bef-a6c2-57447163c74e
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: c2d321a2-f29f-4cb5-b921-81d1ac7d2c68
                      dateCreated: 2017-11-13 21:25
                      dateUpdated: 2017-11-13 21:25
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 7d29586f-5180-45a6-9864-5309be8ce5d0
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 406b0097-f44c-4f21-948d-c505e3c9c67a
                      dateCreated: 2017-11-13 21:28
                      dateUpdated: 2017-11-13 21:28
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: b6413591-a925-4a89-92c2-86f826d0cee5
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 3aeb37dc-3c42-4af4-b4dd-16bbde1d4535
                      dateCreated: 2017-11-13 21:33
                      dateUpdated: 2017-11-13 21:33
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 2bb7364d-e221-4dbd-8d0b-b8338d0c2866
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 3ccb96cb-0519-43e0-86c1-efe68825c8fb
                      dateCreated: 2017-11-13 21:29
                      dateUpdated: 2017-11-13 21:33
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 880f6ff1-984b-4497-9bb6-11ab1fef3382
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: b33f8d63-7c25-4288-97be-6f91df18b61c
                      dateCreated: 2017-11-13 21:40
                      dateUpdated: 2017-11-13 21:40
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 35c74754-7757-4527-9df2-cecd80200184
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: c63ae42f-51ae-451e-aee3-3ba94b2faeac
                      dateCreated: 2017-12-05 09:34
                      dateUpdated: 2017-12-05 09:34
                      relationshipToHeadOfHousehold: '2'
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 7ed4a13f-a533-4347-aad9-1303774a0ff6
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 58e5e1e0-ecbf-4ad9-9f72-e825018d56c4
                      dateCreated: 2017-11-14 06:52
                      dateUpdated: 2017-11-14 06:52
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 68f1dcf9-6135-4f9d-92d7-7cc12ee73b7b
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: c30a623c-1a24-42ef-9174-387474330da0
                      dateCreated: 2017-12-05 09:35
                      dateUpdated: 2017-12-05 09:35
                      relationshipToHeadOfHousehold: '2'
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 242acb91-5223-4188-9b57-6d710ea2d397
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: fe0a1acd-8c9b-49a4-b4ef-c4a4d4d2e5dc
                      dateCreated: 2017-11-14 07:58
                      dateUpdated: 2017-11-14 07:58
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: e31e63c3-7554-4dee-bfcf-0b8f0e4bed8d
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: b79cd814-76f0-469d-ba84-48c8764e2988
                      dateCreated: 2017-11-14 00:02
                      dateUpdated: 2017-11-14 00:02
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: e5e4fffa-b0f9-4be0-a673-23fc24b2b6c9
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 15b2fabc-7f09-4c84-977e-056572435eff
                      dateCreated: 2017-11-14 00:11
                      dateUpdated: 2017-11-14 00:11
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 697386e2-e25d-4674-bdce-c830c96de93e
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 125b3d91-e318-48ba-a215-d194d79e7d17
                      dateCreated: 2017-12-04 08:51
                      dateUpdated: 2017-12-04 08:51
                      relationshipToHeadOfHousehold: '2'
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: aeb929ad-3194-4a67-922b-9b7f099256ba
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    - householdMembershipId: 70199b55-4abd-46cb-b738-20d46389f77e
                      dateCreated: 2017-12-07 04:23
                      dateUpdated: 2017-12-07 04:23
                      relationshipToHeadOfHousehold: '2'
                      userId: 8b6c6ef2-87c7-47f0-8874-4cca6f09365c
                      genericClientId: 08bd3d50-cb87-41ac-8b64-b3dc3853c411
                      genericHouseholdId: 2165b8c8-787e-46b1-a73b-0a4c20dedb46
                      links:
                      - rel: "/hmis-clientapi/rest/v2015/clients/08bd3d50-cb87-41ac-8b64-b3dc3853c411"
                        href: client
                    page:
                      size: 20
                      totalElements: 29
                      totalPages: 2
                      number: 0

        '401':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: ' Unauthorized'
        '500':
          description: ''
          content:
            application/json:
              schema:
                example:
                  message: Resource not found
      description: get the member record based on Clientid.
    parameters:
      - name: clientid
        in: query
        required: true
        schema:
          type: string
          format: uuid
components:
  schemas:
    generic_household:
      required:
        - genericlHouseHoldId
        - headOfHouseholdId
        - dateCreated
        - dateUpdated
        - userCreate
        - userUpdate
      type: object
      properties:
        genericlHouseHoldId:
          type: string
        headOfHouseholdId:
          type: string
        dateCreated:
          type: string
        dateUpdated:
          type: string
        userCreate:
          type: string
        userUpdate:
          type: string
    generic_household_id:
      required:
        - genericlHouseHoldId
        - headOfHouseholdId
        - dateCreated
        - dateUpdated
        - userCreate
        - userUpdate
      type: object
      properties:
        genericlHouseHoldId:
          type: string
        headOfHouseholdId:
          type: string
        dateCreated:
          type: string
        dateUpdated:
          type: string
        userCreate:
          type: string
        userUpdate:
          type: string
    generic_households:
      type: array
      items:
        type: string
    generic_households_ids:
      type: array
      items:
        type: string
    household_member:
      required:
        - houseHoldMembershipId
        - genericClientId
        - dateCreate
        - dateUpdate
        - userCreate
        - userUpdate
      type: object
      properties:
        houseHoldMembershipId:
          type: string
        genericClientId:
          type: string
        relationshipToHeadOfHouseHold:
          type: string
        dateCreate:
          type: string
        dateUpdate:
          type: string
        userCreate:
          type: string
        userUpdate:
          type: string
    household_members_id:
      required:
        - houseHoldMembershipId
        - genericClientId
        - dateCreate
        - dateUpdate
        - userCreate
        - userUpdate
      type: object
      properties:
        houseHoldMembershipId:
          type: string
        genericClientId:
          type: string
        relationshipToHeadOfHouseHold:
          type: integer
        dateCreate:
          type: string
        dateUpdate:
          type: string
        userCreate:
          type: string
        userUpdate:
          type: string
    household_members:
      type: array
      items:
        type: string
    household_members_ids:
      type: array
      items:
        required:
          - houseHoldMembershipId
          - genericClientId
          - dateCreate
          - dateUpdate
          - userCreate
          - userUpdate
        type: object
        properties:
          houseHoldMembershipId:
            type: string
          genericClientId:
            type: string
          relationshipToHeadOfHouseHold:
            type: integer
          dateCreate:
            type: string
          dateUpdate:
            type: string
          userCreate:
            type: string
          userUpdate:
            type: string
  responses: {}
  parameters: {}
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    oauth_2_0:
      description: |
        The HMIS API supports OAuth 2.0 for authenticating all API requests.
      type: oauth2
      flows:
        password:
          tokenUrl: 'https://hmislynk.com/hmis-authorization-service/rest/token'
          scopes:
            user: ''
            administrator: ''
  links: {}
  callbacks: {}
